#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home > h1 {
  font-family: 'Playball', cursive;
  font-size: 4em;
}

#home > h4 {
  font-family: 'Raleway', sans-serif;
}
 #home > h5 {
   font-weight: bold;
   font-family: 'Raleway', sans-serif;
 }
#home > .jokes > form > input[type=submit] {
  border: none;
  font-family: 'Raleway', sans-serif;
}
.jokes > button {
  border: none;
  font-family: 'Raleway', sans-serif;
}
.app-about {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2em;
  background-color: rgba(255,255,255, 0.3);
  line-height: 27px;
  border-radius: 10px;
  max-width: 950px;
}

.app-about > h2 {
  font-family: 'Montserrat', sans-serif;
}

.app-about > p {
  text-align: center;
  /* font-family: 'Raleway', sans-serif; */
}

#home > .jokes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 15px;
  margin-bottom: 5%;
}

.jokes > h4 {
  font-family: 'Montserrat', sans-serif;
}

.jokes > h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
