body {

}

.navbar {
  justify-content: space-around;
}

.navbar > .container-fluid {
  justify-content: space-around;
}

.navbar-nav {
  flex-direction: row;

}

.counter-button-container {
  margin-left: 20px;
}

.counter-buttons {
  margin: 45px;
}
